
body {
  margin: 0;
  padding: 0;
}

#titles {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  background-image: url("/images/soft-trees.jpg");
  font-family: 'Crimson Text', serif;
}

#titles div {
  position: inherit;
  overflow: hidden;
  white-space: nowrap;
}

#titles div#the-end {
  font-size: 60px;
  font-weight: bold;
  color: #00000;
  text-shadow: 0 0 12px #888888;
  width: 100%;
  text-align: center;
}

#credits {
  color: #00040;
}

#credits h1 {
  color: #888888;
  width: 100%;
  margin: 0px 0 0 0px;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#credits h2 {
  color: #888888;
  width: 100%;
  margin: 50px 0 0 50px;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 10px;
}

#credits dt {
  width: 100%;
  margin: 0px 0 0 0px;
  text-align: center;
  padding: 5px 0 0 0;
  font-size: 20px;
 font-family: 'Crimson Text', serif;
}

#credits dd {
  width: 50%;
  margin: 0px 0 0 0px;
    text-align: justify;
  padding: 10px 0 0 0;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#credits .fineprint {
  color: #888888;
  width: 100%;
  margin: 0px 0 0 0px;
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
}

