/* .toc h1:before{content:''} */
/* .toc dl{clear:both;width:100%;overflow:hidden;background:#ffffff url("../images/dot.png") repeat-x 0 1em}  */
/* .toc dt{float:left;padding-right:3px} */
/* .toc dd{margin:0;float:right;padding-left:3px} */
/* .toc li ol{width:95%;padding-left:5%} */
/* .toc dt,dd{background:#ffffff;} */

.toc ol{margin:0;padding:0;list-style:none;margin-left:20px;}
.toc .part{font-size: 105%;font-weight:bold;margin-top:8px;margin-bottom:2px;} 

dl {
    line-height: 1.2em !important;
    position:relative;
    overflow:hidden;
    width:900px;
}

dt:after {
    font-family: Times New Roman;
    font-size: 120%;
    content:"...................................";
    text-indent: -1px;
    display:block;
    letter-spacing:20px;
    position:absolute;
    left:0px;
    bottom:0px;
    z-index:-1;
    font-weight:bold;
}

dt  {
    display:inline-block;
    background-color:#f9f9f9;
    margin:0 3em 0 0;
    padding-right:10px;
}

dd {
    display:inline;
    float:right;
    font-weight:bold;
    padding-left:5px;
    margin-right:0px;
}
